.container {
  border: 0px solid #999;
  border-radius: 8px;
  box-shadow: 0px 3px 10px #000000aa;
  background-color: white;
}

.admin-background {
  background-image: url('/background.png');
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-size: 200px;
}

#span-storeName {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
}

.outerSize {
  width: 900px;
}
