.couponsDisplay {
  width: 504px;
  height: 424px;
  border: 1px solid rgb(199, 206, 213);
  border-radius: 6px;
  background-color: #ffffffbb;
}

.couponsDisplay img {
  width: 50px;
}

.couponsDisplay-phoneNumber {
  font-size: 20px;
  font-weight: 700;
}

.couponsPaper {
  border: 0px;
  border-radius: 6px;
  background-color: #efefefbb;
  margin-bottom: 10px;
}

#couponsCountDisplay {
  color: #333;
  text-align: right;
  padding-right: 4px;
}

#couponsCountDisplay-span {
  color: rgb(227, 66, 53);
  font-size: 22px;
  font-weight: 700;
}

.couponsMessage {
  background-color: rgb(246, 246, 246);
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
}

.couponsMessage-used {
  background-color: rgb(92, 158, 212);
  color: white;
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
}

.couponsMessage-fail {
  background-color: rgb(219, 62, 62);
  color: white;
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
}

#messagebox {
  margin: auto;
  margin-top: 50px;
  transition-duration: 300ms;
}
