.couponsDisplay {
  width: 504px;
  border: 1px solid rgb(199, 206, 213);
  border-radius: 6px;
}

.couponsDisplay img {
  width: 50px;
}

.couponsDisplay-phoneNumber {
  font-size: 20px;
  font-weight: 700;
}

.couponsPaper {
  border: 0px;
  border-radius: 6px;
  background-color: #efefef;
  margin-bottom: 10px;
}

#couponsCountDisplay {
  color: #333;
  text-align: right;
  padding-right: 4px;
}

#couponsCountDisplay-span {
  color: rgb(227, 66, 53);
  font-size: 22px;
  font-weight: 700;
}
